@page
@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Hobbygen!</title>

    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <div class="header">
        <button id="btn-get-all-users">Get all users</button>
        <input class="vr" id="search-query" type="text" placeholder="Search by name..." />
        <button id="btn-get-user">Search users</button>
        <input class="vr" id="search-queryhobby" type="text" placeholder="Search by hobby..." />
        <button id="btn-get-userhobby">Search users</button>
    </div>
    <div class="header">
        <input class="vr" id="user-query" type="text" placeholder="Add user" />
        <button id="btn-add-user">Add user</button>
        <button id="btn-fetch-dummy-data">LOAD IN DUMMY DATA (~10s)</button>
    </div>
    <div id="result">
    </div>
    <script src="~/js/api.js" async type="text/javascript"></script>
</body>
</html>